@model DashboardViewModel;

@{
    ViewBag.Title = "Dashboard / Index";
}

<div class="contentwrapperdash">
    <div class="dashboardcontents">
        <div class="activekanbanwrap">
            <aside class="activekanban">
                <h4 class="activetitle">Kanban Summary</h4>
                <p class="activenumber">
                    Total Kanban Boards : <b>@Model.TotalKanbanBoardCount</b>
                </p>
            </aside>
        </div>
        <div class="activekanbanwrap">
            <aside class="activekanban">
                <h4 class="activetitle">ToDoes Summary</h4>
                <p class="activenumber">
                    Completed ToDoes : <b>@Model.CompletedToDoCount</b>
                </p>
                <p class="activenumber">
                    Incomplete ToDoes : <b>@Model.IncompleteToDoCount</b>
                </p>
                <p class="activenumber">
                    Today : <b>@Model.ToDoesOfToday.Count</b>
                </p>
            </aside>
        </div>
    </div>
    <div class="uzunactivekanban">
        <aside class="activekanban">
            <h4 class="activetitle">Notes Summary</h4>
            <p class="activenumber">
                Total Notes : <b>@Model.TotalNoteCount</b>
            </p>
        </aside>
        <div class="horizontallistwrapper">
            @if (Model.TotalNoteCount == 0)
            {
                <div class="horizontallist">
                    <aside class="leftlist">
                        <p class="date">There is no note yet.</p>
                    </aside>
                </div>
            }
            else
            {
                <div class="horizontallist">
                    <aside class="leftlist">
                        <p class="date">@Model.LastEditedNote.ModifiedDate</p>
                    </aside>
                    <aside class="middlelist">
                        <p class="notecontenttext">@Model.LastEditedNote.Title</p>
                    </aside>
                    <aside class="rightlist">
                        <p class="notecontenttext">@Model.LastEditedNote.Content</p>
                    </aside>
                </div>
            }

        </div>
    </div>
</div>